html{
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body {
  background-color: black;
  background-size: cover;
  margin: 10px 100px 10px 100px;
  border-radius: 25px;
  padding: 10px;
  height: 100%;
  color: white;
}
.button {
  background-color: #FF0F00;
  color: white;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
}
.button:hover {background-color: #E1190C}

.dropbtn {
  background-color: grey;
  color: white;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
.dropbtn:hover {
  background-color: #B8B8B8;
}

option {
  background-color: #E0E0E0;
  color: black;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 0.1em;
}
#regresar{
  filter: drop-shadow(10px 10px 10px black);
  width: 50px;
}

#regresar:hover{
  width: 55px;
  cursor: pointer;
}
.formula{
  font-size: 25px;
  color: White;
}
h2{
  font-family: 'Tomorrow', sans-serif;
  font-size: 30px;
  color: white;
}
p{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 0.1em;
}
input[type=number] {
  width: 100px;
  color: white;
  padding: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CC2E2E;
  border-left: 2px solid #CC2E2E;
}
input[type=number]:focus{
  border: 1px solid red;
}
input[type=text]{
  color: white;
  background-color: transparent;
  padding: 4px;
  border: none;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
input[type=text]:disabled{
  background-color: #6A6A6A;
  border: 2px solid white;
  color: black;
}
#resultado{
  color: white;
  font-size: 15px;
  font-family: 'Tomorrow', sans-serif;
}
#result{
  color: white;
  font-size: 15px;
  font-family: 'Tomorrow', sans-serif;
}
.link{
  color: white;
  font-family: 'Tomorrow', sans-serif;
}
#avanzar{
  filter: drop-shadow(10px 10px 10px black);
  width: 50px;
}
#avanzar:hover{
  width: 55px;
  cursor: pointer;
}
