html{
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body {
  background-color: black;
  background-size: cover;
  margin: 10px 100px 10px 100px;
  border-radius: 25px;
  padding: 10px;
  height: 100%;
  color: white;
}
div {
  display: none;
}
h1{
  font-family: 'Tomorrow', sans-serif;
  font-size: 35px;
  color: #00FCF3;
}
h3{
  font-family: 'Tomorrow', sans-serif;
  font-size: 25px;
  color: white;
  display: table;
  color: #00B6A9;
}
h3:hover{
  cursor: pointer;
  text-decoration: underline;
}
p{
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
}
.img{
  width: 300px;
  border-radius: 25px;
}
video{
  border: 3px solid #00B6A9;
}
#regresar{
  filter: drop-shadow(10px 10px 10px black);
  width: 50px;
}
#regresar:hover{
  width: 55px;
  cursor: pointer;
}
.link{
  color: white;
  font-family: 'Tomorrow', sans-serif;
}
