html{
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
}
body{
  background-color: #323232;
  border-radius: 25px;
  color: white;
  padding: 10px;
  margin: 10px 100px 10px 100px;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 80px;
  text-shadow: 4px 4px 4px #212F3D;
}
h2{
  font-size: 40px;
  line-height: 0em;
}
a{
  color: black;
  text-align: left;
  font-size: 20px;
  line-height: 1.5em;
}
a:hover {
  font-size: 22px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.Josefin{
  font-family: 'Josefin Sans', sans-serif;
}
