html{
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
}
body{
  background-color: #323232;
  border-radius: 25px;
  color: white;
  padding: 10px;
  margin: 10px 100px 10px 100px;
}
#regresar{
  filter: drop-shadow(10px 10px 10px black);
  width: 50px;
}
#regresar:hover{
  width: 55px;
  cursor: pointer;
}
#avanzar{
  filter: drop-shadow(10px 10px 10px black);
  width: 50px;
}
#avanzar:hover{
  width: 55px;
  cursor: pointer;
}
h1{
  font-family: 'Tomorrow', sans-serif;
  font-size: 40px;
  color: #00B6A9;
  text-align: center;
}
h2{
  font-family: 'Tomorrow', sans-serif;
  font-size: 30px;
  color: #00B6A9;
}
p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
.formula{
  font-size: 30px;
  text-align: center;
}
.border{
  border-radius: 25%;
}
.fondo{
  background-color: white;
  border-radius: 25%;
  margin-right: 120px;
  margin-top: 20px;
}
