#regresar{
  position: fixed;
  left: 10px;
  bottom: 10px;
  filter: drop-shadow(10px 10px 10px black);
  width: 50px;
}

#regresar:hover{
  width: 55px;
}
h1{
  color: orange;
  font-family: 'Teko', sans-serif;
  font-size: 80px;
  text-shadow: 4px 4px 4px #212F3D;
  line-height: .5em;
}
h2{
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  line-height: 1em;
}
h3{
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 1em;
}
